$text-color:#ccc;
$main-color:#00a8e5;
$sub-color:#fff;
$background-color:#fafafa;

//通用样式
body{
  font-family: "PingFangSC-Regular","PingFang SC","兰亭黑","Helvetica",sans-serif;
  color: $text-color;
  font-size: 14px;
  background-color: $background-color;
}
 